.comun {
    background-color: blue;
}

.especial {
    background-color: orangered;
}

.epica {
    background-color: blueviolet;
}

.legendaria {
    background: rgba(247,52,195,1);
    background: -moz-linear-gradient(-45deg, rgba(247,52,195,1) 0%, rgba(214,124,237,1) 28%, rgba(230,224,223,1) 55%, rgba(24,240,110,1) 79%, rgba(39,230,67,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(247,52,195,1) 0%, rgba(214,124,237,1) 28%, rgba(230,224,223,1) 55%, rgba(24,240,110,1) 79%, rgba(39,230,67,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(247,52,195,1) 0%, rgba(214,124,237,1) 28%, rgba(230,224,223,1) 55%, rgba(24,240,110,1) 79%, rgba(39,230,67,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(247,52,195,1) 0%, rgba(214,124,237,1) 28%, rgba(230,224,223,1) 55%, rgba(24,240,110,1) 79%, rgba(39,230,67,1) 100%);
    background: linear-gradient(135deg, rgba(247,52,195,1) 0%, rgba(214,124,237,1) 28%, rgba(230,224,223,1) 55%, rgba(24,240,110,1) 79%, rgba(39,230,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f734c3', endColorstr='#27e643', GradientType=1 )
}

.card {
    width: 250px;
    
    margin: 1.250em;
    border-radius: 25px;
    padding: 2em;
    padding-top: 1em;
    
    color: black;
    border-style: ridge;
    border-color: rgba(65,61,52,1);
    box-shadow: inset 0 0 6.250em rgba(65,61,52,1), 0 0 0em rgba(232,190,107,0.8);
}